.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
  padding: var(--spaceXLG);
}
@media (min-width: 768px) and (max-width: 991px) {
  .main {
    padding: var(--spaceXMD);
  } 
}
@media (max-width: 575px) {
  .main {
    padding: var(--spaceMD);
  } 
}