.btn, .swal2-actions button {
    border-radius: var(--roundedJumbo) !important;
    text-transform: capitalize;
}
input[type="file"]::file-selector-button {
    border-radius: var(--roundedLG) !important;
    margin-left: 0;
    margin-top: var(--spaceMini);
    margin-bottom: var(--spaceMini);
    color: var(--whiteColor) !important;
}
.btn, .swal2-actions button, input[type="file"]::file-selector-button {
    padding: var(--spaceMD) var(--spaceLG) !important;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.btn-link {
    border: 1.75px solid var(--blackColor) !important;
    color: var(--blackColor) !important;
}
.btn-type {
    background: var(--infoBG);
}
.btn-merk {
    background: var(--dangerBG);
}
.btn-made-from {
    background: var(--successBG);
}
.btn-merk, .btn-type, .btn-made-from {
    cursor: pointer;
    padding: var(--spaceMini) var(--spaceMD);
    color: var(--whiteColor);
    text-transform: capitalize !important;
    border-radius: var(--roundedLG);
}
.btn-primary, input[type="file"]::file-selector-button {
    background-image: linear-gradient(to bottom right, var(--darkInfoBG), var(--infoBG));
}
.btn-success, .swal2-confirm {
    background-image: linear-gradient(to bottom right, var(--successDarkBG), var(--successBG));
}
.btn-danger, .swal2-deny, .swal2-cancel {
    background-image: linear-gradient(to bottom right, var(--dangerDarkBG), var(--dangerBG));
}
.btn-warning {
    background-image: linear-gradient(to bottom right, var(--warningDarkBG), var(--warningBG));
}
.btn-info {
    background: var(--infoBG) !important;
}
.btn-primary, .btn-danger, .btn-info, .btn-warning, .btn-success,input[type="file"]::file-selector-button {
    border: 1.5px solid var(--whiteColor) !important;
}
.btn-warning {
    background: var(--warningBG) !important;
}