:root {   
  /* Typography */
  --textHuge : 78px;
  --textXJumbo : 48px;
  --textJumbo : 26px;
  --textXLG : 18px;
  --textLG : 16px;
  --textXMD : 14px;
  --textMD : 13px;
  --textSM : 12px;
  --textXSM : 11px;
  --textMini : 9px;

  /* Rounded */
  --roundedCircle : 100%;
  --roundedJumbo : 34px;
  --roundedXLG : 20px;
  --roundedLG : 18px;
  --roundedMD : 14px;
  --roundedSM : 10px;
  --roundedMini : 6px;

  /* Spacing */
  --spaceJumbo : 35px;
  --spaceXLG : 24px;
  --spaceLG : 20px;
  --spaceXMD : 16px;
  --spaceMD : 12px;
  --spaceSM : 10px;
  --spaceXSM : 8px;
  --spaceXXSM : 6px;
  --spaceMini : 4px;

  /* Color Pallete */
  --primaryLightBG : #ace5e8;
  --successBG : #75e9a5;
  --successDarkBG : #4cc086;
  --dangerBG : #e7899c;
  --dangerDarkBG : #ee385d;
  --warningBG : #f9f871;
  --warningDarkBG : #eded1e;
  --infoBG : #00a6e1;
  --darkInfoBG : #005b9b;
  --infoLightBG : #E7F4FE;
  --hoverBG : #e8fdff;

  --primaryColor : #99cde1;
  --blackColor : #212121;
  --darkColor : #5B5B5B;
  --whiteColor : #FFFFFF;
  --greyColor : #F3F3F3;
  --shadowColor : #808080;
}

body {
  color: var(--darkColor);
  background: var(--whiteColor);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.content-grid {
  text-align: center;
  padding: var(--spaceMD) 0;
  max-width: 1080px;
  display: block;
  margin-inline: auto;
}

hr {
  background-color: var(--blackColor) !important;
  border: none;
  height: 1.25px;
  opacity: 0.75 !important;
}
.bg-highlight {
  background: var(--hoverBG) !important;
}

.img-rounded, .img-profile {
  border-radius: var(--roundedXLG);
}
.img-profile {
  width: 56px;
}

/* Carousel */
.carousel-control-prev, .carousel-control-next {
  border: calc(var(--spaceMini) / 2) solid var(--darkColor) !important;
  border-radius: var(--roundedLG);
  height: 60px;
  width: 60px !important;
  opacity: 1 !important;
  margin-top: 100px;
  color: var(--darkColor) !important;
  background: var(--whiteColor) !important;
}

.table thead th {
  text-align: center;
}

.circle-icon {
  border-radius: 100%;
  background: var(--infoBG);
  height: 50px;
  width: 50px;
  opacity: 1;
  color: var(--whiteColor);
  padding: var(--spaceMD) var(--spaceXMD);
}


/* Table */
table {
  border-collapse: separate; 
  border-spacing: 0;
  border-radius: var(--roundedLG); 
  overflow: hidden;
}
table, th, td {
  border: 1.5px solid var(--infoBG) !important;
}
table {
  outline: 1.5px solid var(--infoBG)
}
table thead tr th {
  color: var(--whiteColor) !important;
  font-size: var(--textXLG);
  font-weight: 600 !important;
}
table thead tr th {
  background: var(--infoBG) !important;
}
table tbody tr td {
  background: var(--greyColor) !important;
}