:root {   
  /* Typography */
  --textHuge : 78px;
  --textXJumbo : 48px;
  --textJumbo : 26px;
  --textXLG : 18px;
  --textLG : 16px;
  --textXMD : 14px;
  --textMD : 13px;
  --textSM : 12px;
  --textXSM : 11px;
  --textMini : 9px;

  /* Rounded */
  --roundedCircle : 100%;
  --roundedJumbo : 34px;
  --roundedXLG : 20px;
  --roundedLG : 18px;
  --roundedMD : 14px;
  --roundedSM : 10px;
  --roundedMini : 6px;

  /* Spacing */
  --spaceJumbo : 35px;
  --spaceXLG : 24px;
  --spaceLG : 20px;
  --spaceXMD : 16px;
  --spaceMD : 12px;
  --spaceSM : 10px;
  --spaceXSM : 8px;
  --spaceXXSM : 6px;
  --spaceMini : 4px;

  /* Color Pallete */
  --primaryLightBG : #ace5e8;
  --successBG : #75e9a5;
  --successDarkBG : #4cc086;
  --dangerBG : #e7899c;
  --dangerDarkBG : #ee385d;
  --warningBG : #f7cc11;
  --warningDarkBG : #ec9819;
  --infoBG : #00a6e1;
  --darkInfoBG : #005b9b;
  --infoLightBG : #E7F4FE;
  --hoverBG : #e8fdff;

  --primaryColor : #99cde1;
  --blackColor : #212121;
  --darkColor : #5B5B5B;
  --whiteColor : #FFFFFF;
  --greyColor : #F3F3F3;
  --shadowColor : #808080;

  --flazenPrimaryColor: #fcf2e5;
  --flazenSecondaryColor: #f6f6f6;
  --flazenDarkColor: #343146;
  --flazenGreyColor: #979797;
  --flazenDangerColor: #dc5987;
  --flazenWarningColor: #eac661;
  --flazenInfoColor: #845c98;

  --font-main: var(--font-poppins);
}

body {
  color: var(--darkColor);
  background: var(--whiteColor);
  font-family: var(--font-main);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.content-grid {
  text-align: center;
  padding: var(--spaceMD) 0;
  max-width: 1080px;
  display: block;
  margin-inline: auto;
}

hr {
  background-color: var(--blackColor) !important;
  border: none;
  height: 1.25px;
  opacity: 0.75 !important;
}
.bg-highlight {
  background: var(--hoverBG) !important;
}
.bg-success {
  background-image: linear-gradient(to bottom right, var(--successDarkBG), var(--successBG));
}
.bg-danger {
  background-image: linear-gradient(to bottom right, var(--dangerDarkBG), var(--dangerBG));
}
.bg-warning {
  background-image: linear-gradient(to bottom right, var(--warningDarkBG), var(--warningBG));
}

.img-rounded, .img-profile {
  border-radius: var(--roundedXLG);
}
.img-profile {
  width: 56px;
}

/* Carousel */
.carousel-control-prev, .carousel-control-next {
  border: calc(var(--spaceMini) / 2) solid var(--darkColor) !important;
  border-radius: var(--roundedLG);
  height: 60px;
  width: 60px !important;
  opacity: 1 !important;
  margin-top: 100px;
  color: var(--darkColor) !important;
  background: var(--whiteColor) !important;
}

.table thead th {
  text-align: center;
}

.circle-icon {
  border-radius: 100%;
  background: var(--infoBG);
  height: 50px;
  width: 50px;
  opacity: 1;
  color: var(--whiteColor);
  padding: var(--spaceMD) var(--spaceXMD);
}

.pincode-input-text {
  color: var(--blackColor);
  font-weight: 600;
  border-radius: var(--roundedLG);
  margin-right: var(--spaceSM) !important;
}

#alert-flazenapps {
  position: fixed;
  bottom: var(--spaceLG);
  left: var(--spaceLG);
  z-index: 999;
}
#alert-flazenapps .content {
  background: var(--flazenPrimaryColor);
  border-radius: var(--roundedLG);
  width:480px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#alert-flazenapps h1 {
  font-size:var(--textJumbo) !important;
  color: var(--flazenDarkColor) !important;
  letter-spacing: normal !important;
}
#alert-flazenapps p, #alert-flazenapps a {
  font-size:var(--textMD);
}
#alert-flazenapps .btn-primary {
  background:var(--flazenInfoColor) !important;
}
#alert-flazenapps .btn-danger {
  background:var(--flazenDangerColor) !important;
}
#alert-flazenapps .btn-link {
  background:var(--flazenWarningColor) !important;
  padding: var(--spaceMini) var(--spaceSM) !important;
}
#alert-flazenapps .btn-primary, #alert-flazenapps .btn-danger {
  border: none;
  font-size: var(--textMD);
  padding: var(--spaceSM) var(--spaceMD) !important;
}

/* Transform */
.feature-box:hover, .faq-box:hover, .unfinished-wash-box:hover, .history-box:hover, .wash-box:hover, .box:hover, 
.btn-navigate-menu-custom:hover, .box-clothes:hover, .box-schedule-mini:hover, .box-outfit-simple:hover {
  transform: scale(1.05);
}
@media (max-width: 991px) {
  .feature-box:hover, .faq-box:hover, .unfinished-wash-box:hover, .history-box:hover, .wash-box:hover, .box:hover, 
  .btn-navigate-menu-custom:hover, .box-clothes:hover, .box-schedule-mini:hover, .box-outfit-simple:hover {
    transform: none;
  } 
}