body {
  color: var(--darkColor);
  background: var(--whiteColor);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

:root {   
  /* Typography */
  --textHuge : 78px;
  --textXJumbo : 48px;
  --textJumbo : 26px;
  --textXLG : 18px;
  --textLG : 16px;
  --textXMD : 14px;
  --textMD : 13px;
  --textSM : 12px;
  --textXSM : 11px;
  --textMini : 9px;

  /* Rounded */
  --roundedCircle : 100%;
  --roundedJumbo : 34px;
  --roundedXLG : 20px;
  --roundedLG : 18px;
  --roundedMD : 14px;
  --roundedSM : 10px;
  --roundedMini : 6px;

  /* Spacing */
  --spaceJumbo : 35px;
  --spaceXLG : 24px;
  --spaceLG : 20px;
  --spaceXMD : 16px;
  --spaceMD : 12px;
  --spaceSM : 10px;
  --spaceXSM : 8px;
  --spaceXXSM : 6px;
  --spaceMini : 4px;

  /* Color Pallete */
  --primaryLightBG : #00C5CB;
  --successBG : #15DDAB;
  --successDarkBG : #00b35a;
  --warningBG : #E14D5B;
  --warningDarkBG : #D5534C;
  --infoBG : #00A8D8;
  --infoLightBG : #E7F4FE;
  --hoverBG : #F2F2F2;

  --primaryColor : #0088CC;
  --blackColor : #212121;
  --darkColor : #5B5B5B;
  --whiteColor : #FFFFFF;
  --greyColor : #ededed;
  --shadowColor : #808080;
}

.content-grid {
  text-align: center;
  padding: var(--spaceMD) 0;
  max-width: 1080px;
  display: block;
  margin-inline: auto;
}

.box, .box-clothes, .box-outfit-simple {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.box, .box-outfit-simple {
  padding: var(--spaceLG);
  border: calc(var(--spaceMini) / 1.5) solid var(--darkColor);
  border-radius: var(--roundedLG);
  cursor: pointer;
  margin-bottom: var(--spaceMD);
}
.box {
  max-width: 19vh;
  margin-inline: auto;
  display: block;
  height: 19vh;
  position: relative;
}
.box img {
  width: 100%;
}
.box:hover, .box-outfit-simple:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transform: scale(1.075);
}
.box-header, .box-footer {
  position: absolute;
  white-space: nowrap; 
  overflow-x: auto;
}
.box-header {
  top: -15px;
  left: -20px;
}
.box-footer {
  bottom: -15px;
  border-radius: var(--roundedMD);
  padding: var(--spaceMini) var(--spaceSM);
  font-size: var(--textMD) !important;
  font-weight: 500;
  background: var(--whiteColor);
  border: calc(var(--spaceMini) / 2.5) solid var(--darkColor) !important;
}
.box-icon {
  margin-right: var(--spaceMini);
  display: inline-block !important;
}
.box-icon img {
  height: 26px;
  width: 28px;
}
.box-icon {
  background: var(--whiteColor);
  border: calc(var(--spaceMini) / 2.5) solid var(--darkColor) !important;
  border-radius: 100%;
  padding: 2px var(--spaceXXSM) var(--spaceXXSM) var(--spaceXXSM);
}

a {
  text-decoration: none !important;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

a:hover {
  text-decoration: underline !important;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: capitalize;
}

h1 {
  letter-spacing: var(--spaceMini);
}
h2 {
  letter-spacing: 2.25px;
}
h3, h4 {
  letter-spacing: 2px;
}
h5, h6 {
  letter-spacing: 1.75px;
}
hr {
  background-color: var(--blackColor) !important;
  border: none;
  height: 1.25px;
  opacity: 0.75 !important;
}
.bg-highlight {
  background: var(--hoverBG) !important;
}

.btn {
  border-radius: var(--roundedLG) !important;
  padding: var(--spaceMD) var(--spaceLG) !important;
  cursor: pointer;
}
.btn-link {
  border: 1.75px solid var(--blackColor) !important;
  color: var(--blackColor) !important;
}

.img-rounded {
  border-radius: var(--roundedXLG);
}

.card {
  background: var(--whiteColor);
  border: 1.5px solid var(--greyColor) !important;
  padding: var(--spaceLG);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: var(--roundedLG) !important;
}

/* Carousel */
.carousel-control-prev, .carousel-control-next {
  border: calc(var(--spaceMini) / 2) solid var(--darkColor) !important;
  border-radius: var(--roundedLG);
  height: 60px;
  width: 60px !important;
  opacity: 1 !important;
  margin-top: 100px;
  color: var(--darkColor) !important;
  background: var(--whiteColor) !important;
}

.container-generator {
  width: 100%;
  height: 40vh;
  border-radius: var(--roundedLG);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.55)), url('/images/generate_outfit.jpg');
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  background-color: var(--greyColor);
  color: var(--whiteColor);
  padding: var(--spaceXLG);
  display: flex;
  flex-direction: column; 
  text-align: start;
  align-items: flex-start; 
  justify-content: flex-end;
}

.box-clothes, .img-clothes, .label-clothes {
  border-radius: var(--roundedLG);
}
.box-clothes {
  padding: var(--spaceLG);
  background: var(--hoverBG);
  margin-bottom: var(--spaceLG);
  position: relative;
  cursor: pointer;
}
.box-clothes:hover {
  transform: scale(1.05);
}
.box-clothes .img-clothes {
  width: 100%;
  background: var(--greyColor);
}
.box-clothes .body-clothes {
  margin-top: var(--spaceMD);
}
.box-clothes .label-holder {
  position: absolute;
  top: var(--spaceMD);
  left: var(--spaceMD);
}
.box-clothes .label-holder .label-clothes {
  padding: var(--spaceXXSM) var(--spaceMD);
  font-size: var(--spaceLG);
  color: var(--whiteColor);
  margin-right: var(--spaceXSM);
}

.table thead th {
  text-align: center;
}

/* Field */
.field {
  margin-bottom: var(--spaceMD);
}
.field label {
  font-size: var(--textXLG);
  font-weight: 500;
  color: var(--darkColor);
  margin-bottom: var(--spaceXSM);
}
.field .form-control,  .field .form-select{
  border-radius: var(--roundedLG);
  font-size: var(--textXLG);
  padding: var(--spaceMD);
  border: 1.5px solid var(--shadowColor);
}

.modal-content, .swal2-modal {
  border-radius: var(--roundedJumbo) !important;
  border: none !important;
  padding: var(--spaceMD);
}
.swal2-loading {
  width: 100vw;
  position: fixed;
  top: 0;
  height: 100vh;
  border-radius: 0 !important;
  margin: 0 !important;
}