.navbar, .footer {
    border: 2px solid var(--blackColor);
}
.footer {
    background: var(--primaryColor);
}
.navbar {
    background: var(--greyColor);
}
.navbar, .footer {
    position: sticky !important;
    top: var(--spaceLG) !important;
    padding: var(--spaceMD) 0 !important;
    z-index: 999;
    border-radius: var(--roundedJumbo);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
@media (min-width: 768px) and (max-width: 991px) {
    .navbar, .footer {
        padding: var(--spaceXMD) 0 !important;
    } 
}
@media (max-width: 575px) {
    .navbar, .footer {
        padding: var(--spaceMD) 0 !important;
    } 
}
.navbar .nav-item {
    cursor: pointer;
    margin-right: var(--spaceSM);
    color: var(--blackColor) !important;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding-inline: var(--spaceMD);
    font-size: var(--textXLG) !important;
    border-radius: var(--roundedLG);
    border: 1.75px solid transparent;
}
.navbar .nav-item a {
    text-decoration: none !important;
}
.navbar .nav-item .active {
    border-bottom: var(--spaceMini) solid var(--infoBG);
}
.navbar .nav-item:hover {
    border: 1.75px solid var(--infoBG);
}

/* Mobile */
.navbar-toggler {
    border-radius: var(--roundedLG) !important;
}
.navbar-toggler-icon {
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}