.navbar, .footer {
    border: 2px solid var(--blackColor);
}
.footer {
    background: var(--primaryColor);
}
.navbar {
    background: var(--greyColor);
}
.navbar, .footer {
    position: sticky !important;
    top: var(--spaceLG) !important;
    padding: var(--spaceLG) !important;
    z-index: 999;
    border-radius: var(--roundedJumbo);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.navbar .nav-item {
    padding: var(--spaceSM) var(--spaceMD);
    cursor: pointer;
    margin-right: var(--spaceSM);
    color: var(--blackColor) !important;
    font-weight: 500;
    font-size: var(--textXLG) !important;
    border-radius: var(--roundedLG);
    border: 1.75px solid transparent;
}
.navbar .nav-item a {
    text-decoration: none !important;
}
.navbar .nav-item .active {
    border-bottom: var(--spaceMini) solid var(--infoBG);
}
.navbar .nav-item:hover {
    border: 1.75px solid var(--infoBG);
}