a {
    text-decoration: none !important;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    color: inherit;
}  
a:hover {
    text-decoration: underline !important;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
} 
h1, h2, h3, h4, h5, h6 {
    text-transform: capitalize;
}  
h1 {
    letter-spacing: var(--spaceMini);
}
h2 {
    letter-spacing: 2.25px;
}
h3, h4 {
    letter-spacing: 2px;
}
h5, h6 {
    letter-spacing: 1.75px;
}
.text-date {
    font-style: italic;
    font-weight: 500;
    font-size: var(--textXMD);
    margin-bottom: 0 !important;
    color: var(--shadowColor);
}