a {
    text-decoration: none !important;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    color: inherit;
} 
h1, h2, h3, h4, h5, h6 {
    text-transform: capitalize;
}  
h1 {
    letter-spacing: var(--spaceMini);
}
h2 {
    letter-spacing: 2.25px;
}
h3, h4 {
    letter-spacing: 2px;
}
h5, h6 {
    letter-spacing: 1.75px;
}
.modal-title {
    color: var(--blackColor);
    font-weight: 600;
    font-size: var(--textJumbo);
}
.text-date {
    font-style: italic;
    font-weight: 500;
    font-size: var(--textXMD);
    margin-bottom: 0 !important;
    color: var(--shadowColor);
}
.text-main {
    color: var(--infoBG) !important;
    -webkit-text-stroke: 1.25px var(--whiteColor);
}

.custom-container label {
    color: var(--whiteColor) !important;
}

.text-title {
    font-size: var(--textHuge);
}
@media (max-width: 575px) {
    .text-title {
        font-size: var(--textXJumbo);
    } 
}